@use "../abstract" as *;

.features {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 80%;
  margin: 0 auto;
  // padding: 3em 0;

  &__feature {
    display: flex;
    flex-direction: column;
    width: 25%;
    margin: 2em auto;
    min-width: 20rem;
    & + .features__feature {
      margin-left: 1em;
    }
  }
}

.feature {
  &__img {
    height: 12rem;
    margin-bottom: 1.5em;
  }

  &__description {
    text-align: center;
  }
}
