@use "../abstract" as *;

.features {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 80%;
  margin: 0 auto;
  @include respond(desk-small) {
    width: 100%;
  }
  &__feature {
    display: flex;
    flex-direction: row;
    align-items: center;
    @include respond(desk-small) {
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      width: 25%;
    }
    margin: 2em auto;
    min-width: 20rem;
    @include respond(desk-small) {
      & + .features__feature {
        margin-left: 1em;
      }
    }
  }
}

.feature {
  &__img {
    width: 8rem;
    height: 8rem;
    margin-right: 1em;
    @include respond(desk-small) {
      margin-bottom: 2em;
    }
  }

  &__description {
    @include respond(desk-small) {
      text-align: center;
      height: 50%;
    }
  }
}
