@use "../abstract" as *;

.form {
  background-color: $primary-light;
  width: 100%;
  height: 30%;
  background-color: $primary-light;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  width: 40%;
  text-align: center;
  padding: 2em;

  label {
    font-size: 4rem;
    display: block;
    margin-bottom: 1em;
  }

  .email {
    margin-bottom: 1em;
    width: 70%;
    height: 3em;
    padding: 0 1.3em;
    border-radius: 10vh;
    border: none;
  }

  .submit {
    border: none;
    width: 30%;
  }
}
