@keyframes float {
  0% {
    transform: rotate(20deg) translateY(0);
  }

  100% {
    transform: rotate(20deg) translateY(-4px);
  }
}

@keyframes float-shadow {
  0% {
    filter: blur(3px);
  }

  100% {
    filter: blur(6px);

    transform: scale(1.1);
  }
}
