@keyframes float {
  0% {
    transform: rotate(20deg) translateY(0);
  }
  40% {
    transform: rotate(20deg) translateY(-8px);
  }

  100% {
    transform: rotate(20deg) translateY(-4px);
  }
}

@keyframes float-shadow {
  0% {
    filter: blur(1rem);
  }
  40% {
    filter: blur(1.3rem);
    width: 11rem;
  }

  100% {
    filter: blur(1.1rem);
  }
}
