@use '../abstract' as *;
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; //10px
  background-color: $white;
  @include respond(desk-big) {
    font-size: 75%;
  }
  @include respond(desk) {
    font-size: 60%;
  }
  @include respond(tablet-land) {
    font-size: 56.25%;
  }
  @include respond(tablet) {
    font-size: 56.25%;
  }
  @include respond(phone-land) {
    font-size: 50%;
  }
  @include respond(phone) {
    font-size: 50%;
  }
}

body {
  box-sizing: border-box;
  font-size: 2rem;
  font-family: "Lato", sans-serif;
}

.hero {
  width: 100%;
}

section {
  width: 90%;
  margin: 0 auto;
}
