@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap");
@keyframes float {
  0% {
    transform: rotate(20deg) translateY(0);
  }
  100% {
    transform: rotate(20deg) translateY(-4px);
  }
}
@keyframes float-shadow {
  0% {
    filter: blur(3px);
  }
  100% {
    filter: blur(6px);
    transform: scale(1.1);
  }
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  background-color: #ededed;
}
@media (min-width: 20em) {
  html {
    font-size: 50%;
  }
}
@media (min-width: 45em) {
  html {
    font-size: 75%;
  }
}

body {
  box-sizing: border-box;
  font-size: 2rem;
  font-family: "Lato", sans-serif;
}

.button {
  padding: 1em 1.2em;
  text-decoration: none;
  color: #2e2d34;
  width: 23rem;
  margin-top: 2em;
  border-radius: 100vw;
  text-align: center;
  transition: all 0.3s ease;
  box-shadow: 2px 5px 8px rgba(46, 45, 52, 0.3);
}
.button:hover {
  transform: translateY(-3px);
  box-shadow: 5px 8px 10px rgba(46, 45, 52, 0.2);
}
.button:active {
  transform: translateY(0);
  box-shadow: 2px 5px 8px rgba(46, 45, 52, 0.3);
}
.button--yellow {
  background-color: #faa433;
}
.button--brown {
  background-color: #945924;
}

.feature {
  width: 100%;
}

.hero--img__img {
  animation: float 3s linear 1s infinite alternate;
  opacity: 70%;
  transform: rotate(20deg);
}

.float-shadow {
  animation: float-shadow 3s linear 1s infinite alternate;
  filter: blur(1rem);
  border-radius: 50%;
  width: 5rem;
  height: 10%;
  background-color: #2e2d34;
  position: absolute;
  bottom: 0;
  left: 46%;
  opacity: 30%;
}

.header {
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  padding: 1.3em 2em;
  width: 100%;
  display: none;
}
@media (min-width: 60em) {
  .header {
    display: flex;
  }
}
.header__logo {
  width: 15rem;
}

.nav__list {
  display: flex;
  flex-direction: row;
  list-style: none;
}
.nav__link {
  margin-right: 3em;
  text-decoration: none;
  color: #2e2d34;
}

footer {
  height: 3rem;
  padding: 0.8rem;
}
footer p {
  margin: 0 auto;
  font-size: 1.2rem;
  text-align: center;
}

.hero {
  display: flex;
  flex-direction: row;
  height: 100vh;
  min-height: 350px;
  padding: 0 2em;
  background-color: #e7e7e7;
}
@media (max-height: 24em) {
  .hero {
    flex-direction: row;
  }
}
.hero--content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 90%;
  height: 60%;
  max-height: 400px;
  max-width: 700px;
}
@media (max-height: 24em) {
  .hero--content {
    width: 60%;
  }
}
@media (min-width: 45em) {
  .hero--content {
    width: 70%;
  }
}
.hero--content__title {
  min-width: 20rem;
  margin-left: -0.5em;
  margin-top: 4em;
}
@media (min-width: 45em) {
  .hero--content__title {
    width: 45rem;
  }
}
.hero--content__description {
  margin-top: 1em;
}
@media (min-width: 45em) {
  .hero--content__description {
    margin-top: 3em;
  }
}
.hero--img {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 5rem;
  bottom: 2rem;
  height: 30%;
}
@media (max-height: 24em) {
  .hero--img {
    right: 10rem;
    height: 50%;
  }
}
@media (min-width: 45em) {
  .hero--img {
    right: 7rem;
  }
}
@media (min-width: 60em) {
  .hero--img {
    height: 50%;
    bottom: 0;
    right: 3rem;
  }
}
.hero--img__img {
  min-width: 20rem;
  height: 90%;
  margin: 0 auto;
}

.features {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 80%;
  margin: 0 auto;
}
@media (min-width: 60em) {
  .features {
    width: 100%;
  }
}
.features__feature {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 2em auto;
  min-width: 20rem;
}
@media (min-width: 60em) {
  .features__feature {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 25%;
  }
}
@media (min-width: 60em) {
  .features__feature + .features__feature {
    margin-left: 1em;
  }
}

.feature__img {
  width: 8rem;
  height: 8rem;
  margin-right: 1em;
}
@media (min-width: 60em) {
  .feature__img {
    margin-bottom: 2em;
  }
}
@media (min-width: 60em) {
  .feature__description {
    text-align: center;
    height: 50%;
  }
}

.function {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color: #e7e7e7;
}
@media (min-width: 72em) {
  .function {
    flex-direction: row;
  }
}
.function__img {
  width: 100%;
  height: 30rem;
  margin-right: 2em;
}
@media (min-width: 72em) {
  .function__img {
    height: 100%;
  }
}
.function__img__image {
  object-fit: cover;
  height: 100%;
  width: 100%;
}
.function__description {
  margin: 5rem;
}
@media (min-width: 72em) {
  .function__description {
    width: 100%;
  }
}
.function__description__title {
  margin-bottom: 1em;
}

.form {
  background-color: #fcbb66;
  height: 30%;
  background-color: #fcbb66;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  text-align: center;
  padding: 2em;
}
form label {
  font-size: 2.5rem;
  display: block;
  margin-bottom: 1em;
}
form .email {
  margin-top: 1em;
  height: 3em;
  padding: 0 1.3em;
  border-radius: 10vh;
  border: none;
}
form .submit {
  border: none;
  width: 15rem;
}

/*# sourceMappingURL=main.css.map */
